Package: com.551.lockscreenbrightnessslider16
Name: Lockscreen Brightness Slider 16
Version: 1.0.32
Architecture: iphoneos-arm64
Description: Lock Screen brightness slider with optional DND / Focus text hiding for iOS 16.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 16.0), firmware (<< 17.0)
Homepage: https://github.com/551UK/LockscreenBrightnessSlider16
