<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>LockscreenBrightnessSlider16Prefs</string>
    <key>CFBundleIconFile</key>
    <string>BrightnessGlyph16.png</string>
    <key>CFBundleIconFiles</key>
    <array>
        <string>BrightnessGlyph16.png</string>
        <string>BrightnessGlyph16@2x.png</string>
        <string>BrightnessGlyph16@3x.png</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.551.lockscreenbrightnessslider16.preferences</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Lockscreen Brightness Slider 16</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.10</string>
    <key>CFBundleVersion</key>
    <string>1.0.10</string>
    <key>NSPrincipalClass</key>
    <string>LSBSRootListController</string>
</dict>
</plist>
